.overlay-text, .overlay-text2, .overlay-text3 {
  position: absolute;
  transform: translateY(-50%);
  text-align: left;
  color: white;
  white-space: nowrap; /* Prevent text from wrapping */
  padding-left: 10px; /* Adjust padding as needed */
}

.overlay-text {
  top: 20%;
  left: 2%;
  font-size: 2.5rem; /* Initial font size */
  font-weight: bold;
}

.overlay-text2 {
  top: 39%;
  left: 2.55%;
  font-size: 1rem; /* Initial font size */
  font-weight: lighter;
}

.overlay-text3 {
  top: 43%;
  left: 4%;
  font-size: 1rem; /* Initial font size */
  font-weight: lighter;
}

/* Adjust font size for specific screen widths */
@media (max-width: 1269px) and (min-width: 1063px) {
  .overlay-text {
    font-size: 1.9rem;
  }
  .overlay-text2, .overlay-text3 {
    font-size: 0.8rem;
  }
}

@media (max-width: 1063px) and (min-width: 973px) {
  .overlay-text {
    font-size: 1.65rem;
  }
  .overlay-text2, .overlay-text3 {
    font-size: 0.7rem;
  }
}

@media (max-width: 973px) and (min-width: 918px) {
  .overlay-text {
    font-size: 1.6rem;
  }
  .overlay-text2, .overlay-text3 {
    font-size: 0.7rem;
  }
}

@media (max-width: 918px) and (min-width: 858px) {
  .overlay-text {
    font-size: 1.5rem;
  }
  .overlay-text2, .overlay-text3 {
    font-size: 0.6rem;
  }
}

@media (max-width: 858px) and (min-width: 767px) {
  .overlay-text {
    font-size: 1.3rem;
  }
  .overlay-text2, .overlay-text3 {
    font-size: 0.55rem;
  }
}

@media (max-width: 767px) and (min-width: 700px) {
  .overlay-text {
    font-size: 1.2rem;
  }
  .overlay-text2, .overlay-text3 {
    font-size: 0.5rem;
  }
}

@media (max-width: 700px) and (min-width: 650px) {
  .overlay-text {
    font-size: 1.1rem;
  }
  .overlay-text2, .overlay-text3 {
    font-size: 0.45rem;
  }
}

@media (max-width: 650px) and (min-width: 600px) {
  .overlay-text {
    font-size: 1rem;
  }
  .overlay-text2, .overlay-text3 {
    font-size: 0.4rem;
  }
}

@media (max-width: 600px) and (min-width: 550px) {
  .overlay-text {
    font-size: 0.9rem;
  }
  .overlay-text2, .overlay-text3 {
    font-size: 0.35rem;
  }
}

@media (max-width: 550px) and (min-width: 500px) {
  .overlay-text {
    font-size: 0.8rem;
  }
  .overlay-text2, .overlay-text3 {
    font-size: 0.35rem;
  }
}

@media (max-width: 500px) and (min-width: 450px) {
  .overlay-text {
    font-size: 0.7rem;
  }
  .overlay-text2, .overlay-text3 {
    font-size: 0.3rem;
  }
}

@media (max-width: 450px) and (min-width: 400px) {
  .overlay-text {
    font-size: 0.6rem;
  }
  .overlay-text2, .overlay-text3 {
    font-size: 0.28rem;
  }
}

@media (max-width: 400px) {
  .overlay-text {
    font-size: 0.5rem;
  }
  .overlay-text2, .overlay-text3 {
    font-size: 0.2rem;
  }
}



/* below the search bar */

.search-bar-container {
  position: absolute;
  top: 70%;
  left: 11%;
  transform: translateY(-50%);
  display: flex;
  gap: 12px; 
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 15px;
  border-radius: 60px;
  width: 90%; 
  max-width: 600px; 
}

.search-input,
.search-type,
.search-button {
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  flex-grow: 1; 
}

.search-input {
  min-width: 0; 
}

.search-type {
  margin-right: 12px; 
}

.search-button {
  background-color: #0095ff5e;
  color: white;
  cursor: pointer;
}

@media (max-width: 1423px) and (min-width: 1024px) {
  .search-bar-container {
    width: 80%; 
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  .search-bar-container {
    width: 90%; 
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 65%; 
    padding: 12px; 
  }
}

@media (max-width: 767px) {
  .search-bar-container {
    width: 95%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 65%; 
    padding: 12px; 
  }

  .search-input,
  .search-type,
  .search-button {
    padding: 6px;
    font-size: 0.9rem; 
  }

  .search-button {
    padding-left: 16px;
    padding-right: 16px;
  }
}
